<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NORTHWNDConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NORTHWND.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="con" value="Data Source=.\SQLEXPRESS;AttachDbFilename=H:\.Net Intensive\Class 8\net_mvc\Class8\SQL Server 2000 Sample Databases\NORTHWND.MDF;Integrated Security=True;&#xD;&#xA;         Connect Timeout=30;User Instance=True"
                                               />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>