@model ContactWeb.Models.Contact

@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Contact</legend>

        @{Html.RenderPartial("Form");}

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

