@model web.Models.PhoneNumberEntriesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Phone Number Entries", "Index")</h2>
You have successfully saved @Model.Entries.Count Phone Numbers